@font-face {
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
  font-family: 'Roboto', sans-serif;
}

.header {
  position:absolute;
  width: 100%;
  height: 8vh;
  background-color: transparent;
  z-index: 9999;
  color: white;
}

.header-background {
  position: absolute;
  opacity: 0.2;
  background-color: black;
  height: 8vh;
  width: 100%;
  z-index: 9998;
}

.logo-text {
  font-family: 'Lobster Two';
  font-size: 2em;
  padding: 5px;
}

.logo {
  height: 60px;
  width: 60px;
  padding: 5px;
}

.logo, .logo-text:hover {
  cursor: pointer;
}

.logo-sm {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.side-link {
  padding: 5px;
  font-weight: bold;
  font-family: 'Roboto';
  border-bottom: 2px solid transparent;
}

.side-link:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  border-bottom: 2px solid white;
}