@font-face {
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
}

body {
  /* overflow: hidden; */
}

.map-container {
    height: 80vh;
    width: 100%;
}

.drifter-map {
  background-image: url('https://i.imgur.com/BRlMr8U.png');
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.drifter-map-image {
  height: 100vh;
  width: 100%;
}

.location-search-form {
  position: absolute;
  top: 40vh;
  left: 10vw;
  width: 40%;
  background: white;
}

.search-bar {
  position: absolute;
  top: 10vh;
  width: 75%;
}

.sunset-background {
  background-image: url('https://i.imgur.com/wqkvd7B.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  border-bottom: 2px solid lightgrey;
}

/* .sunset-img {
  position: absolute;
  height: 100%;
  width: 100%;
} */

.sites-container-wrapper {
  max-height: 100vh;
  overflow: auto;
}

.sites-map-container {
  height: 100vh;
}

/* .site-image-container {
  width: 100%;
  height: 10vh;
  background-image: url('https://i.imgur.com/uS14AjK.jpg');
  background-size: contain;
  background-repeat: no-repeat;
} */

.site-image {
  width: 50%;
  margin: auto;
  border-radius: 10px;

}

.site-image-container {
  /* width: 75%; */
  /* width: 25%; */
  /* height: 50vh; */

}